/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

header {
	background: white;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: auto;
	font-size: 4rem;
}

#main {
	/* background: yellow; */
	padding: 20px;
}

body {
	margin: 20px;
}
section {
	margin: 40px;
}
footer {
	text-align: center;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
	margin: 0 auto;
}
#img-caption {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 1em;
	text-align: center;
}
#headline {
	text-align: center;
	padding-bottom: 1em;
}
#tribute-info {
	text-align: left;
}
li {
	margin: 1em;
}
blockquote {
	text-align: center;
	margin: 1em;
}
